<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <h1>Checklist</h1>
        </header>
        <main>
            <section class="clist-new">
                <input type="text" placeholder="Enter new todo" class="clist-inp" />
            </section>
            <ul class="clist-list">

            </ul>
        </main>
        <footer class="clist-status">
            <span class="clist-status-span"></span>
        </footer>
        <script src="../public/app.bundle.js"></script>
    </body>
</html>